<div class="form">
    [[+errors:notempty=`<div class="alert alert-danger" role="alert">[[+errors]]</div>`]]
    <form class="loginLoginForm" action="[[~[[*id]]]]" method="post">
            <div>
                    <input class="returnUrl" type="hidden" name="returnUrl" value="[[+request_uri]]" />                
                    <input class="loginLoginValue" type="hidden" name="service" value="login" />
            </div>
            <div class="form-group">
                    <label class="loginUsernameLabel" for="loginUsername">Email Address</label>
                    <div class="elWrap"><input class="form-control" id="loginUsername" type="text" placeholder="Email Address" name="username" /></div>
            </div>
            <div class="form-group">
                <label class="loginPasswordLabel" for="loginPassword">[[%login.password]]</label>
                <div class="elWrap"><input class="form-control" id="loginPassword" type="password" placeholder="Password" name="password" /></div>
    </div>
    <div class="formSegWrap full">
            <div class="elWrap"><input type="submit" class="btn btn-primary" name="Login" value="[[+actionMsg]]" /></div>
    </div>
</form>
</div>